.category__cart {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 90px;

  .category__wrapper-animation {
    height: auto;
    border-radius: 10px;
    .category__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.2509803922),
        -0.5px -0.5px 6px 0px rgba(0, 0, 0, 0.0705882353);
      border-radius: 10px;

      .category__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h3 {
          font-family: $inconsolata;
          font-weight: 500;
          font-size: 19px;
          color: $black;
          letter-spacing: 1px;
        }
        p {
          font-family: $inconsolata;
          font-weight: bold;
          font-size: 11px;
          color: $black;
          letter-spacing: 1px;
        }
      }

      img {
        width: 90px;
        height: 80px;
        border-radius: 10px 0 0 10px;
        object-fit: cover;
      }

      .category__icon {
        font-size: 30px;
        margin-right: 28px;
      }
    }
  }
}
